<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h1>Course Details</h1>
    <input type="hidden" id="courseId" name="courseId" th:value="${courseId}" />
</div>

<form th:action="@{/viewStreamMessagesTeacher}" method="post">
    <input type="hidden" name="courseId" th:value="${courseId}" />
    <button type="submit">View Stream Messages</button>
</form>

<form th:action="@{/sendStreamMessageTeacher}" method="post">
    <input type="hidden" name="courseId" th:value="${courseId}" />
    <button type="submit">Send Stream Message</button>
</form>


<form th:action="@{/sendStudentMessages}" method="post">
    <input type="hidden" name="courseId" th:value="${courseId}" />
    <button type="submit"> Student Messages</button>
</form>

<form th:action="@{/viewStudentMessages}" method="post">
    <input type="hidden" name="courseId" th:value="${courseId}" />
    <button type="submit"> view Messages</button>
</form>

<form th:action="@{/markAttendance}" method="post">
    <input type="hidden" name="courseId" th:value="${courseId}" />
    <button type="submit">Mark Attendance</button>
</form>

<form th:action="@{/uploadMarks}" method="post">
    <input type="hidden" name="courseId" th:value="${courseId}" />
    <button type="submit">Upload Marks</button>
</form>

<form th:action="@{/setMarksEvaluation}" method="post">
    <input type="hidden" name="courseId" th:value="${courseId}" />
    <button type="submit">Set Marks Evaluation</button>
</form>

</body>
</html>
